html {
  overflow-y: auto !important;
}
#root {
  height: 100vh;
}
.logo {
  padding-top: 1rem;
}
.auth-container {
  background-color: #FFF;
  height: 100vh;
}
.bd-tabs {
  margin-bottom: 1rem;
}
.is-primary {
  background-color: #117FFE !important;
}
.has-text-primary {
 color: #117FFE !important;
}
.nav-selected {
  border: 1px solid #117FFE;
  border-radius: 50%;
  padding: 1rem;
}
.box {
  border-radius: 8px !important;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px !important
}
.height-100 {
  height: 100% !important;
}
.width-100 {
  width: 100%;
}
.height-80vh {
  height: 80vh;
}
.height-90vh {
  height: 90vh;
}
.min-height-100vh {
  min-height: 100vh;
}
.mt1 {
  margin-top: 1rem;
}
.p-0 {
  padding: 0 !important;
}
.p-sm {
  padding: 0.5rem;
}
.p-t-0 {
  padding-top: 0;
}
.p-t-1 {
  padding-top: 1rem;
}
.p-t-5 {
  padding-top: 5rem;
}
.p-b-5 {
  padding-bottom: 5rem;
}
.navbar-burger {
  margin-left: 0;
}
.absolute {
  position: absolute;
}
.z-2 {
  z-index: 2;
}
.background-white {
  background-color: #FFFFFF;
  height: 100%;
}
.react-datepicker__triangle {
  visibility: hidden !important;
}

.react-datepicker {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

.rbc-month-view {
  height: auto !important;
  max-height: 100% !important;
}
.mb-0-5 {
  margin-bottom: 0.5rem !important;
}
.mt-0-5 {
  margin-top: 0.5rem !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-sm {
  margin-bottom: 1.5rem;
}
.ml-sm {
  margin-left: 1.5rem;
}
.mr-sm {
  margin-right: 1.5rem;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.m-t-n {
  margin-top: -1.5rem;
}
.p-l-1 {
 padding-left: 1.5rem;
}
.p-b-1 {
  padding-bottom: 1rem;
}
.circle {
  border-radius: 50%;
}
.raised {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
              0 1px 5px 0 rgba(0, 0, 0, 0.12), 
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
  z-index: 30;
}
.customDatePickerWidth, 
.customDatePickerWidth > div.react-datepicker, 
.customDatePickerWidth > div > div.react-datepicker__month-container{
   width: 100%;
   height: 100%;
}

.react-datepicker__day--selected {
  background-color: #117FFE !important;
  border-radius: 50% !important;
}

.react-datepicker__header {
  background-color: #fff !important;
}

.rbc-time-content {
  visibility: hidden !important;
}
.rbc-time-header-content {
  height: 100%;
}
.rbc-time-header-gutter {
  width: 0px !important;
  min-width: 0px !important;
  padding: 0 !important;
}
.rbc-time-header {
  height: 100%;
}
.rbc-row-content {
  max-height: 100%;
  overflow-y: scroll;
}
.day-event {
  border-radius: 0 !important;
}
.event {
  border-left-width: 5px !important;
  border-top-width: 0px !important;
  border-right-width: 0px !important;
  border-bottom-width: 0px !important;
  border-style: solid !important;
}
.break-word {
  white-space: pre-wrap;
}
.navbar {
  border-radius: 0 !important;
}
.heading {
  font-size: 0.75rem !important;
}
.br-4 {
  border-radius: 4px;
}
.border-none {
  border: none;
}
.background-light-purple {
  background-color: #EEEEFE;
  color: #968AFE;
}
.background-light-red {
  background-color: #FFF2F2;
  color: #F17777;
}
.background-light-blue {
  background-color: #E5F8F8;
  color: #2CC8D7;
}
.background-light-yellow {
  background-color: #FCF0E4;
  color: #F49F42;
}
.progress::-webkit-progress-value {
  transition: width 0.5s ease;
}
.rotate-180 {
  transform: rotateX(180deg);
}
.sb-avatar__text {
  border-radius: 50%;
}